<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated gantt -->
      <package
            uri="http://www.example.org/gantt"
            class="com.fun.gantt.gantt.GanttPackage"
            genModel="model/gantt.genmodel"/>
   </extension>

</plugin>
